body{
    background-image: url('./buildings-car-city-1647120.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg{
    background: linear-gradient(to right, #e91e63,#3f51b5);
    opacity: 0.5;
    padding: 30%;
    padding-left: 2%;
    padding-right: 10%;
    padding-top: 30%;
    padding-bottom: 40%;
    position: relative;
    width: 40%;
    height: 20%;
    margin: 0px 0px 0px 0px;
    top: 0px;
    bottom: 0px;
    left: 660px;
    right: 0px;
}
@media only screen and (max-width:600px){
    .bg{
        background: linear-gradient(to right, #e91e63,#3f51b5);
        opacity: 0.5;
        padding: 30%;
        padding-left: 2%;
        padding-right: 15%;
        padding-top: 30%;
        padding-bottom: 100%;
        position: relative;
        width: 80%;
        height: 100%;
        margin: 0px 0px 0px 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    #good{
        position: relative;
        top:60px; 
        right:160px;
        bottom:60px;
        left:-280px;
    }
}

/* #one{
    width: 175px !important;
} */
/* #two{
    height: 175px !important;
} */
.button {
    width: 82px;
    height: 80px;
    font-size: 35px;
    margin: 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.623);
    color: #fff;
    border: none;
}

.textview {
    height: 50px;
    width: 350px;
    margin: 5px;
    font-size: 45px;
    padding: 5px;
}

.main {
    position: absolute;
    top: 50%;
    left: 80%;
    /* right: 50%;
    bottom: 50%; */
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    text-align: center;
    font-stretch: wider;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 38px;
    text-decoration: underline;
    position: relative;
    top: 0px;
    right: 280px;
    
}